<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' '2023' 'March' %}">Calendario</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Eventos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'add-evento' %}">Cadastro Eventos</a></li>
                <li><a class="dropdown-item" href="{% url 'meus-eventos' %}">Meus Eventos</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'list-eventos' %}">Lista Eventos</a></li>
              <li><a class="dropdown-item" href="{% url 'busca-eventos' %}">Busca Eventos</a></li>
            </ul>
          </li>     
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Locais
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'add-local' %}">Cadastro Locais</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'list-local' %}">Lista Local</a></li>
            </ul>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Downloas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Area restrita
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <li><a class="dropdown-item" href="{% url 'admin-aprova' %}">Aprovar Eventos</a></li>
                  <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li class="nav-item">
                  <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Entrar</a></li>
                <li><a class="dropdown-item" href="{% url 'register_user' %}">Cadastro</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <form class="d-flex" method=POST action = {% url 'busca-local' %}>

          {% csrf_token %}

          <input class="form-control me-2" type="search" placeholder="Busca Local" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>